html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #000;
  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  width: 100vw;
  padding: 0;
}

.content{
  position: absolute;
  top: 34px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 0;
}

.nav {
  border-bottom: 1px solid #000;
  padding: 0px 0px 5px 0px;
  margin: 5px 10px 0 10px;
  text-align: right;
  position: fixed;
  height: 23px;
  width: 98vw;
  background-color: #fff;
}

a, a:visited, a:active, a:hover {
  text-decoration: none;
  color: #000;
}

.nav > a, .nav > a:visited, .nav > a:active {
  padding: 0px 15px 1px 15px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 3px;
}

.nav >  a:hover {
  background-color: #c9c9c9;
  color: #fff;
  font-weight: 100;
}

#Hero {
  position: relative;
  height: 95%;
}

.positioning > h1 {
  font-size: 50px;
}

.positioning > h2 {
  font-size: 45px;
}

.positioning {
  position: absolute;
  bottom: 0;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font-weight: 100;
}

.container {
  min-height: 50%;
  padding: 20px;
  margin: 0 auto;
}

#Contact {
  height: 300px;
  padding: 20px;
  background-color: #F9F9F9;
  min-height: 20%;
  max-height: 30%;
}

#Contact > p {
  display: flex;
  justify-content: space-between;
  max-width: 40%;
  padding: 20px;
  margin: 0 auto;
}

.icon {
  height: 30px;
}

#Work {
  background-color: #F9F9F9;
  margin: 0;
  padding: 20px;
}

.project-container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 max-width: 750px;
 flex-wrap: wrap;
 margin: 0 auto;
 padding-bottom: 20px;
}

h3 {
  text-transform: uppercase;
  font-size: 29px;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 2px;
}

/* .project-container-column {
  display: flex;
  flex-direction: column;
} */

.project {
  background-color: #c9c9c9;
  min-height: 225px;
  min-width: 350px;
  background-size: cover;
  margin: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: inline-block;
}

.project > a > p {
  width: 340px;
  height: 215px;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0);
  padding: 5px;
}

.project > a > p:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.skills {
  display: flex;
  flex-direction: space-between;
  width: 400px;
  margin: 0 auto;
  padding-top: 20px;
}

.list {
  padding: 10px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0 15px 0 15px;
  font-size: 14pt;
}

.container > p {
  max-width: 700px;
  padding: 10px;
  margin: 0 auto;
  font-size: 14pt;
}

#p1 {
  background-image: url('https://i.imgur.com/3bKEkld.png');
}

#p2 {
  background-image: url('https://i.imgur.com/pYkGCdG.jpg');
}

#p3 {
  background-image: url('https://i.imgur.com/uMQgOM7.png');
}

#p4 {
  background-image: url('https://i.imgur.com/xSzOb5W.png');
}

@media only screen and (max-width: 779px) {
  .nav > a, .nav > a:visited, .nav > a:active {
    font-size: 10px;
  }
  .positioning > h1 {
    font-size: 40px;
  }
  .positioning > h2 {
    font-size: 30px;
  }
  .project-container {
    max-width: 350px;
  }
  .skills {
    max-width: 350px;
  }
}

@media only screen and (max-height: 500px) {
  #Contact {
    min-height: 50%;
  }
}